@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font1";
  src: url("/public/fonts/BebasNeue-Regular.ttf")format("truetype");
}
@font-face {
  font-family: "font2";
  src: url("/public/fonts/Nexa-Heavy.ttf")format("truetype");
}
html {
  scroll-behavior: smooth !important;
}

h1,h2,a {
  font-family: "font1", sans-serif;
}

p,nav {
  font-family: "font2", sans-serif;
}

.neon-glow {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  color:white#0ff;
}

.neon-shadow {
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  color:white#0ff;
}

