@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

h1,h2,a {
  font-family: bebas neue;
}

p,nav {
  font-family: nexa heavy;
}

.neon-glow {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  color:white#0ff;
}

.neon-shadow {
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  color:white#0ff;
}

